*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #4b4b4b;
    color: #efefef;
    display: flex;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.container > div {
    flex: 1;
}

#body {
    flex: 10;
    display: flex;
    align-items: center;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body > div {
    flex: 1;
    min-height: 60%;
}

#body > div ul {
    list-style: none;
}

#player_side,
#computer_side {
    padding: 1rem;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
}

#player_side > div,
#computer_side > div {
    flex: 1;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#player_side > .card_middle,
#computer_side > .card_middle {
    flex-grow: 2;
    display: flex;    
}

.card_middle > ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul > li {
    text-align: center;
}

img {
    max-width: 80px;
    height: auto;
}

li > button {
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
}

li > button:hover {
    cursor: pointer;
}

#player_side {
    background-color: #56aedd;
}

#computer_side {
    background-color: #ff004f;
}

#game_arena {
    display: flex;
}

#game_arena > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

